
<h2 class="margin_top">Formulario de <%= name %> banco de prueba</h2>

<%= form_for(@test) do |f| %>

  <div class="form-group row margin_top">
    <div class="col-md-10">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, placeholder: "Título" %>
    </div>
  </div>

  <br>

  <div class="form-group row">
		<div class="col-md-10">
			<%= f.label :type %>
			<br>
			<%= f.text_field :type_test, placeholder: "Tipo" %>
		</div>
  </div>

  <br>

  <div class="form-group row">
		<div class="col-md-10">
			<%= f.label :text_test %>
			<br>
			<%= f.text_area :text_test%>
		</div>
  </div>
  
  <div class="form-group row">
    <p>
    	<%= f.submit submitLabel, class:"btn btn-primary form_btn" %>  <%= link_to "Volver", test_banks_path, class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>