<main>
<div class="main_wrapper">

  <ul class="clearfix">
    <li><%= link_to image_tag("back2x.png")+"Go back",test_banks_path, class:"button_control" %></li>
  </ul>

  <%= form_for(@test) do |f| %>
    <section class="sub_main clearfix">
      <h4>INFORMATION TEST</h4>

      <div class="inputs-wrapper iw-test">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="inputs-wrapper iw-test">
      <%= f.label :type %><br>
      <%= f.text_field :type_test %>
      </div>
        <br>
      <div class="inputs-wrapper textarea-test">
      <%= f.label :text_test %><br>
      <%= f.text_area :text_test %>
      </div>

    </section>

      <%= f.submit submitLabel, class:"button" %>
    <% end %>
</div><!-- .main_wrapper -->
</main>