<h2>Banco de prueba</h2>

<br>

<%= link_to "Agregar prueba", new_test_bank_path(@room), class: 'btn btn-primary' %>

<br>

<table class="test_bank_table">
    <tr>
        <th>Título</th>
        <th>Tipo</th>
        <th>Creado</th>
				<th>Opciones</th>
    </tr>

    <% @tests.each do |test| %>
        <tr>
            <td><%= test.name %></td>
            <td><%= test.type_test %></td>
            <td><%= test.created_at %></td>
            <td>
							<%= link_to "Ver", test, class: 'btn btn-primary' %>
							<%= link_to "Modificar", edit_test_bank_path(test), class: 'btn btn-primary' %>
							<%= link_to "Eliminar", test, method: :delete, data: {confirm: '¿Esta seguro de eliminar esta prueba?'}, class: 'btn btn-danger' %>
						</td> 
        </tr>      
    <% end %>
</table>