<header>
	<%= render :partial => "header_view/header_admin" %>
	<h1>TEST</h1>
	<p>Administrator</p>
</header>

<main>
<div class="main_wrapper">
	<ul class="controls_ul clearfix">
		<li class="last_button_control"><%= link_to image_tag("add2x.png")+"Add test", new_test_bank_path, class:"button_control" %></li>
	</ul>

	<div class="table-wrapper checkbox">

	<%= search_form_for @search do |f| %>
		<%= f.condition_fields do |c| %>
			<%= c.attribute_fields do |a| %>
				<%= a.attribute_select %>
			<% end %>
			<%= c.predicate_select only: [:cont, :lteq, :gteq]%>
				<%= c.value_fields do |v| %>
					<%= v.text_field :value %>
				<%end %>
			<%end %>
			<%= f.submit %>
		<% end %>

	<%= paginate @tests %>

	<table>
	<tr>
		<th> <%= sort_link(@search, :name) %> <i class="fas fa-sort"></i> </th>
		<th> <%= sort_link(@search, :type_test) %> <i class="fas fa-sort"></i> </th>
		<th> <%= sort_link(@search, :try_times) %> <i class="fas fa-sort"></i> </th>
		<th> <%= sort_link(@search, :created_at) %> <i class="fas fa-sort"></i> </th>
		<th></th>
	</tr>
	<% @tests.each do |test| %>
			<tr>
				<td><%= test.name %></td>
				<td><%= test.type_test %></td>
				<td><%= test.try_times %></td>
				<td><%= test.created_at %></td>
				<td>
					<%= link_to image_tag("view2x.png")+"View",  test, class:"button_control" %>
					<%= link_to image_tag("edit2x.png")+"Edit", edit_test_bank_path(test), class:"button_control", id:"edit" %>
					<%= link_to image_tag("delete2x.png")+"Delete",  test, method: :delete, data: {confirm: '¿Do you want to delete this room?'}, class:"button_control" %>
				</td>
			</tr>
		<% end %>
	</table>

	<%= paginate @tests %>

	<% if @tests.blank? %>
		<h2>There are no tests saved</h2>
	<% end %>

</div> <!-- .table-wrapper -->
</div><!-- .main_wrapper -->
</main>