<h2>Información de la prueba <%= @test.name %></h2>

<p>títuo: <%= @test.name %></p>
<p>Tipo: <%= @test.type_test %></p>
<p>text de la prueba: <%= @test.text_test %></p>
<p>Creado en: <%= @test.created_at %></p>

<%= link_to "Volver", test_banks_path, class: 'btn btn-primary' %>
<%= link_to "Modificar", edit_test_bank_path(@test), class: 'btn btn-primary' %>
<%= link_to "Eliminar", @test, method: :delete, data: {confirm: '¿Esta seguro de eliminar esta prueba?'}, class: 'btn btn-danger' %>