<main>
    <div class="main_wrapper">

      <ul class="clearfix">
        <li><%= link_to image_tag("back2x.png")+"Go back", participants_path, class:"button_control" %></li>
      </ul>

      <%= form_for(@participant) do |f| %>
        <section class="sub_main clearfix">
          <h4>INFORMATION ROOM</h4>
          <div class="inputs-wrapper">
            <%= f.label :first_name %><br>
            <%= f.text_field :first_name %>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :last_name %><br>
            <%= f.text_field :last_name %>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :identification %><br>
            <%= f.text_field :identification %>
          </div>

          <div class="inputs-wrapper">
          <%= f.label :phone %><br>
          <%= f.text_field :phone %>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :email %><br>
            <%= f.text_field :email %>
          </div>
        </section>
        <%= f.submit submitLabel, class:"button" %> 
      <% end %>
    </div><!-- .main_wrapper -->
  </main>
