
<h2 class="margin_top">Formulario de <%= name %> participante</h2>

<%= form_for(@participant) do |f| %>

  <div class="form-group row margin_top">
    <div class="col-md-10">
      <%= f.label :first_name %>
      <br>
      <%= f.text_field :first_name, placeholder: "Nombre" %>
    </div>
  </div>

  <br>

  <div class="form-group row">
		<div class="col-md-10">
			<%= f.label :last_name %>
			<br>
			<%= f.text_field :last_name, placeholder: "Apellidos" %>
		</div>
  </div>

  <br>

  <div class="form-group row">
		<div class="col-md-10">
			<%= f.label :identification %>
			<br>
			<%= f.text_field :identification, placeholder: "Número de indentificación" %>
		</div>
  </div>

  <br>

  <div class="form-group row">
		<div class="col-md-10">
			<%= f.label :phone %>
			<br>
			<%= f.text_field :phone, placeholder: "Teléfono" %>
		</div>
  </div>

  <br>
  
	<div class="form-group row">
    <div class="col-md-10">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, placeholder: "Correo electronico" %>
    </div>
  </div>

  <br>
  
  <div class="form-group row">
    <p>
    	<%= f.submit submitLabel, class:"btn btn-primary form_btn" %>  <%= link_to "Volver", participants_path, class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>