<header>
		<%= render :partial => "header_view/header_admin" %>
		<h1>PARTICIPANT</h1>
		<p>Administrator</p>
</header>

<main>
	<div class="main_wrapper">
		<ul class="controls_ul clearfix">
		<li class="last_button_control"><%= link_to image_tag("add2x.png")+"Add participant", new_participant_path, class:"button_control" %></li>
	</ul>

		<div class="table-wrapper checkbox">
		<%= paginate @participants %>
		<table>
			<tr>
				<th></th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th><th>
			</tr>
			<% @participants.each do |participant| %>
				<tr>
					<td><%= radio_button_tag "participant", participant.id, class:"", id: participant.id %></td>
					<td><%= participant.first_name %></td>
					<td><%= participant.last_name %></td>
					<td><%= participant.phone %></td>
					<td><%= participant.email %></td>
					<td>
						<%= link_to image_tag("view2x.png")+"View",  participant, class:"button_control" %>
						<%= link_to image_tag("edit2x.png")+"Edit", edit_participant_path(participant), class:"button_control", id:"edit" %>
						<%= link_to image_tag("delete2x.png")+"Delete",  participant, method: :delete, data: {confirm: '¿Do you want to delete this participant?'}, class:"button_control" %>
					</td>
					
				</tr>
			<% end %>
		</table>

		<%= paginate @participants %>
	
		<% if @participants.blank? %>
			<h2>There are no participants saved</h2>
		<% end %>
	
	</div> <!-- .table-wrapper -->
	</div><!-- .main_wrapper -->
</main>