<%= render :partial => "header_view/header_admin" %>

<h2>Información del participante</h2>

<p>Nombre: <%= @participant.first_name %></p>
<p>Apellido: <%= @participant.last_name %></p>
<p>Identificación: <%= @participant.identification %></p>
<p>Teléfono: <%= @participant.phone %></p>
<p>Correo electronico: <%= @participant.email %></p>

<p>Salas: </p>

<% @participant.rooms.each do |room| %>
	<ul>
		<li><%=link_to room.name, room %></li>
	</ul>
<% end %>

<% if @participant.rooms.blank? %>
		<p>No tiene sala asignado, asignar una <%= link_to "sala", rooms_path %></p>
<% end %>

<%= link_to "Volver", participants_path, class: 'btn btn-primary' %>
<%= link_to "Modificar", edit_participant_path(@participant), class: 'btn btn-primary' %>
<%= link_to "Eliminar", @participant, method: :delete, data: {confirm: '¿Esta seguro de eliminar participante?'}, class: 'btn btn-danger' %>