<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Test - Nativapps</title>
  </head>
  <body>
    <div class="fondo_password">
      <%= image_tag('logo.png') %>
      <section class="wrapper_password">

        <%= form_for(@participant) do |f| %>
          <h1><%= @participant.first_name %> <%= @participant.last_name %></h1>

          <div class="wrapper_inputs">
            <%= f.label :password, "Password" %><br />
            <%= f.password_field :password, :autocomplete => "off"  %>

            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %>
          </div>

          <%= f.submit "CREATE", class:'button' %>
          <br>
        <% end %>
      </section>
    </div>
  </body>
</html>