<div class="fondo_login">
    <%= image_tag("logo.png", :alt => "Logo", class:"logo") %>
</div>

<section class="login login_user">
  <h1>PARTICIPANTS</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="wrapper_inputs">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, autocomplete: "off" %><br>
    </div>


    <% if devise_mapping.rememberable? -%>
      <%= f.label :remember_me %>

      <span class="checkbox">
        <%= f.check_box :remember_me, name:"remember_me", value:"remember_me" %>
        <p>Remember me</p>
      </span> <br>
    <% end %>
    
    <div class="actions">
      <%= f.submit "LOG IN", class:"button" %>
    </div>
   <% end %>

  <a class="go_back" href="<%= root_path %>"><%= image_tag("left-arrow.png") %>Go back</a>
</section>