

  <div class="main_wrapper_email">

  <h2> Typing Test </h2>
  
    <section class="test-test_result_email">
      <h3>  These are your results for today's test </h3>

      <div class="points_email">
        <p>Typed</p>
        <h2><%= @report.total_type %></h2>
      </div>

      <div class="points_email">
        <p>Correct</p>
        <h2><%= @report.correct %></h2>
      </div>

      <div class="points_email">
        <p>Incorrect</p>
        <h2><%= @report.incorrect || 0 %></h2>
      </div>

      <div class="points_email">
        <p>WPM</p>
        <h2><%= @report.wpm %></h2>
      </div>

      <div class="points_email">
        <p>Accuracy</p>
        <h2><%= @report.accuracy %></h2>
      </div>

      <div class="wrapper_bar_email">

      <h4>Your Adjusted Typing speed is <span><%= @report.wpm %></span></h4>

        <div class="result_bar_email">
          <div class="measurement_email">
            <span>
              Slow
            </span>
            <p>0</p>
          </div>

          <div class="measurement_email">
            <span>
              Average
            </span>
            <p>20</p>
          </div>


          <div class="measurement_email">
            <span>
              Fluent
            </span>
            <p>40</p>
          </div>


          <div class="measurement_email">
            <span>
            Fast
            </span>
            <p>60</p>
          </div>

          <div class="measurement_email">
            <span>
              Pro
            </span>
            <p>80</p>
          </div>
          <div class="result_email" id="dial" style="width:<%= @report.wpm %>%">
<!--            <h4><%= @report.wpm %></h4>-->
          </div>

      </div><!-- .wrapper-bar -->

      </section>
  </div> <!-- main_wrapper -->
