<%= render :partial => "header_view/header_participant" %>

<div class="main_wrapper">
	<div class="bank_test_item">
	<% @tests.each do |test| %>
		<h2><%= test.name %></h2>
    <%= link_to room_test_test_path(test_id: test.id, room_id:@room_id), class:"button" do %>
      START TEST
	<% end %>
	  <br>
      <br>
	<% end %>
	<a class="go_back" href="<%= room_test_lobby_path %>"><%= image_tag("left-arrow.png") %>Go back</a>
	</div>
</div>