<body >
 <%= render :partial => "layouts/header_test"%>

<div class="main_wrapper">
  <%= form_for :report, remote: true do |f| %>
    <%= f.hidden_field :accuracy, id: "accuracy"%>
    <%= f.hidden_field :try_number, value: "1"%> <!-- Falta configurar el valor de try_number -->
    <%= f.hidden_field :correct, id: "count_correct"%>
    <%= f.hidden_field :total_type, id: "count_typed"%>
    <%= f.hidden_field :total_word, id: "total_word"%>
    <%= f.hidden_field :participant_id, value: current_participant.id %>
    <%= f.hidden_field :room_id, value: params[:room_id] %>
    <%= f.hidden_field :test_id, value: params[:test_id ]%>
    
      <%# end %>
    <section class="test" id="test_box">
      <div class="content_test">
        <h3>Typing test Name</h3>
        
          <div id="word-section">
              <div class="waiting">
              </div>
          </div>
          
          <div id="type-section">
            <textarea id="typebox" rows="2" type="text" class="input_test" placeholder="Click or tap here and start typing!" tabindex="1" autofocus onkeyup="typingTest(event)"/>
            </textarea>
          </div>
      </div>
      
        <aside>
        <h5>Time left</h5>
        <div id="timer" class="input_test_aside"><span id="showTime">0:00</span></div>
          <!-- <input class="input_test_aside" type="text" placeholder="1:00" > -->

        <h5>Typing Speed</h5>

        <p>WPM</p>
        <%= f.text_field :wpm, class: "input_test_aside", id: "wpm", readonly: true %>

        <p>Mistyped words</p>
        <!--<input class="input_test_aside" type="text" placeholder="0" >-->
        <%= f.text_field :incorrect, class: "input_test_aside", id: "count_incorrect", readonly: true %>
        <br>
      <!-- <a href="#" class="button button_line input_aside_cancel">CANCEL</a> -->

      </aside>
    </section>
    
    <section class="test-result" id="result_box">
          <%= f.submit class: 'button', id: 'send_result', display:"none", value: "Send results", data: { "disable-with": "Saving your results..." }%>
          <% end %> 
    </section>

</div>
    
  <input id="tiempo" value="<%= @time %>" style="display: none">

  <input id="text_test" value="<%= @test.text_test %>" style="display: none">

  <section>
    <div>
        <input id="count_typed" " style="display: none"><%# r.field disabled %><br>
        <input id="count_correct" disabled " style="display: none"><br>
        <input id="count_incorrect" disabled " style="display: none"><br>
        <input id="total_word" disabled " style="display: none"><br>
        <input id="accuracy" disabled " style="display: none"><br>
        <input id="wpm_" disabled " style="display: none"><br>
      <%# end %>
    </div>
    
  </section>
  
  
<script type="text/javascript">
// Add words to word-section
// $(window).on("load", function(){
//$(document).ready(function(){
$(document).on("turbolinks:load",function (){
      addWords(document, <%= @time %>);
});
</script>

</body>
