
  <main>
    <div class="main_wrapper">

      <ul class="clearfix">
        <%= link_to image_tag("back2x.png")+"Go back", rooms_path, class:"button_control" %>
      </ul>

      <%= form_for(@room) do |f| %>
        <section class="sub_main clearfix">
          <h4>INFORMATION ROOM</h4>
          <div class="inputs-wrapper">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :start_date %><br>
            <% date_field("room", "start_date", min: Date.today) %>
            <input id="room_start_date" name="room[start_date]" type="date" value="<%= @room.start_date %>"/>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :finish_date %><br>
            <% date_field("room", "finish_date", min: Date.today) %>
            <input id="room_finish_date" name="room[finish_date]" type="date" value="<%= @room.finish_date %>" placeholder="year-month-day"/>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :tried_times %><br>
            <%= f.number_field :tried_times %>
          </div>

          <div class="inputs-wrapper">
            <%= f.label :set_limit, " (Second)" %><br>
            <%= f.text_field :set_limit %>
          </div>
        </section>

        <section class="sub_main">
          <h4>TEST</h4><!--  <span class="search"><img src=".png"><input type="text" placeholder="search"></span> -->
          <div class="table-wrapper  checkbox">
            <table>
              <tr>
                <th><input type="checkbox" name="" value=""></th>
                <th>Title</th>
                <th>Type</th>
              </tr>
              <% @test_banks.each do |test_bank| %>

                <tr>
                  <td><%= check_box_tag "test_banks[]", test_bank.id, @room.test_banks.include?(test_bank) %></td>
                  <td><%= test_bank.name %></td>
                  <td><%= test_bank.type_test %></td>
                </tr>
          
              <% end %>
            </table>
          </div><!-- .table-wrapper -->
        </section>
        <%= f.submit submitLabel, class:"button" %>
      <% end %>
    </div><!-- .main_wrapper -->
  </main>

