
<%= render :partial => "header_view/header_admin" %>

<main>

	<div class="main_wrapper">
	<ul class="controls_ul clearfix">
	
	#
	#
	# Arreglar los botones que esta comentado
	#
	#
	
		<li><%#= link_to image_tag("view2x.png")+"View", room_path, class:"button_control" %></li>
		<li><%#= link_to image_tag("edit2x.png")+"Edit", edit_room_path(room), class:"button_control" %></li>
		<li><%#= link_to image_tag("delete2x.png")+"Delete",  room, method: :delete, data: {confirm: '¿Do you want to delete this room?'}, class:"button_control" %></li>	  
	</ul>

	<div class="table-wrapper checkbox">
	<table>
		<tr>
			<th><input type="checkbox" name="" value=""></th>
			<th>Name</th>
			<th>Start Date</th>
			<th>Finish Date</th>
			<th>Tried Times</th>
			<th>Limit</th>
		</tr>

		<% @rooms.each do |room| %>
			<tr>
				<td><input type="checkbox" name="" value=""></td>
				<td><%= room.name %></td>
		  	<td><%= room.start_date %></td>
		  	<td><%= room.finish_date %></td>
		  	<td><%= room.tried_times %></td>
				<td><%= room.set_limit %> segundos</td>
			</tr>
		<% end %>

		</table>
	</div> <!-- .table-wrapper -->
	</div><!-- .main_wrapper -->
</main>
