
<h2>Información de la sala <%= @room.name %></h2>

<p>Nombre de la sala: <%= @room.name %></p>

<p>Fecha de commienzo: <%= @room.start_date%></p>

<p>Fecha de finalización: <%= @room.finish_date %> </p>

<p>Numero de intentos: <%= @room.tried_times %></p>

<p>tiempo limite: <%= @room.set_limit %></p>

<p>Created date: <%= @room.created_at %></p>

<div>
    <h2>Participantes</h2>
    <table id="tableStudent" style="text-align: center;" >
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>

        <% @room.participants.each do |rt| %>

        <tr>
            <td><%= rt.identification %></td>
            <td><%= rt.first_name %></td>
            <td><%= rt.last_name %></td>
        </tr>

        <% end %>
    </table>

    <% if @room.participants.blank? %>
        <h3>No tiene Participantes asignado</h3>
    <% end %>
</div>

<div>
    <h2>Tests</h2>
    <table id="tableStudent" style="text-align: center;" class="table table-striped">
        <tr>
            <th>Título</th>
            <th>tipo</th>
        </tr>

        <% @room.test_banks.each do |t| %>

        <tr>
            <td><%= t.name %></td>
            <td><%= t.type_test %></td>
        </tr>

        <% end %>
    </table>

    <% if @room.test_banks.blank? %>
        <h3>No tiene tests asignado</h3>
    <% end %>
</div>

<%= link_to "Volver", rooms_path, class: 'btn btn-primary' %>
<%= link_to "Modificar", edit_room_path(@room), class: 'btn btn-primary' %>
<%= link_to "Eliminar", @room, method: :delete, data: {confirm: '¿Esta seguro de eliminar esta sala?'}, class: 'btn btn-danger' %>


<br>

<%= link_to 'Send mail', send_invitation_path(room_id: @room.id) %>
<%#= link_to "Send invitation", :controller => "rooms", :action => "send_invitation", :id => @room.id %>
<br><br><br>
