<header>
<nav class="clearfix">
  <div class="main_wrapper">
    <%= image_tag("img/Logo_typing.png") %>
    <ul>
      <li><%= link_to "ROOM", rooms_path %></li>
      <li><%= link_to "PARTICIPANTS", participants_path %></li>
      <li><%= link_to "TEST", test_banks_path %></a></li>
      <li>
      <span class="navbar navbar-right" style="color: white">
      <% if user_signed_in? %>
           <span><strong><%= current_user.email %>.</strong>   -    
           <%= link_to "Cerrar sección", destroy_user_session_path, method: :delete, :class => 'navbar-link logout'%>
           </span>
         <% else %>
              <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>
         <% end %>
     </span>
      </li>
    </ul>
  </div>
</nav>

