<header>
	<%= render :partial => "header_view/header_admin" %>
		<h1>Result</h1>
		<p>Administrator</p>
</header>

<main>
		<div class="main_wrapper">
			<%= form_tag(reports_path, method: :get) do %>
				<%= text_field_tag :wpm, params[:wpm] %>
				<%= submit_tag 'Search', name: nil %>
			<% end %>
		

			<%#= paginate @reports %>
			
			<div class="table-wrapper">
				<table cass="table-results">
					<tr>
						<th> <%#= sort_link(@search, :participant) %> <i class="fas fa-sort"></i> </th>
						<th> Identification <i class="fas fa-sort"></i> </th>
						<th> Test <i class="fas fa-sort"></i> </th>
						<th> Room <i class="fas fa-sort"></i> </th>
						<th> <%= sort_link(@search, :accuracy) %> <i class="fas fa-sort"></i> </th>
						<th> <%= sort_link(@search, :wpm) %> <i class="fas fa-sort"></i> </th>
						<th> <%= sort_link(@search, :total_type) %> <i class="fas fa-sort"></i> </th>
						<th> <%= sort_link(@search, :correct) %> <i class="fas fa-sort"></i> </th>
						<th> <%= sort_link(@search, :incorrect) %> <i class="fas fa-sort"></i> </th>
						<th></th>
					</tr>

					<% @reports.each do |r| %>
						<tr>
							<td><%= r.participant.first_name %> <%= r.participant.last_name %></td>
							<td><%= r.participant.identification %></td>
							<td><%= r.participant.rooms.find(r.room_id).test_banks.find(r.test_id).id %></td>
							<td><%= r.participant.rooms.find(r.room_id).id %></td>
							<td><%= r.accuracy %></td>
							<td><%= r.wpm %></td>
							<td><%= r.total_type %></td>
							<td><%= r.correct %></td>
							<td><%= r.incorrect %></td>
							<td>
							<%= link_to r, method: :delete, data: {confirm: '¿Do you want to delete this result?'} do %>
								<i class="fas fa-trash"></i>
							<% end %>
							</td>
						</tr>
					<% end %>
				</table>

				<br><br>

				<%#= paginate @reports %>

			</div> <!-- .table-wrapper -->
		</div><!-- .main_wrapper -->
	</main>
