<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<meta charset="UTF-8">
  	<title>Typing Test - Nativapps</title>
  	<link href="css/style.css" rel="stylesheet" type="text/css">
  	<link href="css/login.css" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
	</head>

	<body>
		<% if current_user %>
		<%= render :partial => "layouts/header" %>
		<% end %>

    <section class="container">
      <%= yield %>
		</section>
		
		<footer>
			<p>© 2018  Nativapps, Inc. All Rights Reserved</p>
		</footer>
		
  </body>
</html>
